html {
    background-color: black;
    color: rgb(102,199,241);
}

table {
    margin-left: auto;
    margin-right: auto;
}

#Overview1 {
    text-align: center;
}

.bio {
    text-align: center;
    font-size: 1.2em;
    font: Arial Narrow, sans-serif;
}

#Yuna {
    align-items: right;
    width: 400px;
    height: 400px;
}

.Data {
    box-sizing: border-box;
    border: solid 2px white;
    padding: 10px;
    width: 750px;
    height: 600px;
    position: relative;
}
#Return {
    color: white;
    text-decoration: underline;
}
#Return:hover {
    color: red;
}
#Return:active {
    color: whitesmoke;
}
#Yeji {
    color: white;
    text-decoration: underline;
}
#Lia {
    color: white;
    text-decoration: underline;
}
#Lia:hover {
    color: rgb(164, 232, 149);
}
#Yeji:hover {
    color: rgb(241,132,213);
}
#Yeji:active {
    color: whitesmoke;
}
#Lia:active {
    color: whitesmoke;
}